input {
    height: 30px;
}

button {
    font-size: 30px;
    font-weight: 100;
    color: white;
    background-color: rgb(99, 193, 230);
    border-radius: 10px;
}

.container {
    display: grid;
    justify-content: center;
    margin: 30px auto;
    gap: 30px;
}